/* Estilos personalizados */
body {
    font-family: Arial, sans-serif;
  }
  
  .progress-bar {
    height: 20px;
  }
  
  .card {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .list-group-item {
    border: none;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      text-align: center;
    }
  
    .header img {
      margin-bottom: 10px;
    }
  
    .footer {
      flex-direction: column;
    }
  
    .list-group-item {
      flex-direction: column;
      text-align: center;
    }
  
    .list-group-item .badge {
      margin-top: 10px;
    }
  }
  