<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - TASKVEGA</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/gerenciador-projeto-novo/static/style.css">
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4 border border-2 border-dark" style="max-width: 400px; width: 100%;">
            <!-- Local para o header -->
            <div id="header"></div>
           
            <div class="form_container">   <!-- Inicio do fundo do Formulario -->
                <form>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Digite seu email">
                    </div>
                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="senha" placeholder="Digite sua senha">
                    </div>
                    <a href="#" class="d-block mb-3 text-primary text-decoration-none">Esqueceu a senha?</a>
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
                <hr id="barra">
                <div class="text-center my-3">Ou</div>
                <button class="btn btn-custom w-100 mb-2">Google</button>
                <button class="btn btn-custom w-100">Facebook</button>
            </div>
            
            <!-- Local para o footer -->
            <div id="footer"></div>
        </div>
    </div>

    
    
    <script>
        // Função para carregar um arquivo HTML em um elemento
        function loadHTML(elementId, file) {
            fetch(file)
                .then(response => response.text())
                .then(data => {
                    document.getElementById(elementId).innerHTML = data;
                })
                .catch(error => console.error('Erro ao carregar o arquivo:', error));
        }

        // Carregar header e footer
        loadHTML('header', '/gerenciador-projeto-novo/fragment/header.html');
        loadHTML('footer', '/gerenciador-projeto-novo/fragment/footer.html');
    </script>

    
</body>
</html>